.tablecontainer {
  overflow: auto;
}

table {
  width: 100%;
}

.end{
  text-align: end;
}

.btnnew{
  margin: 25px 0px 25px;
}

.mat-mdc-table {
  background: #253238 !important;
}

::ng-deep {
  .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: #253238 !important;
  }
}

.marbot{
  margin-bottom: 6px;
}

.errorCode{
  color: #de4343 !important;
}

.fon17{
  font-size: 17px;
}

.mar0{
  margin: auto 0;
}
