<div class="row">
  <div class="col-12 col-md-4">
    <div class="form-group" [formGroup]="executiveGrpForm">
      <label for="exampleExgp">Executive Group</label>
      <input type="text" formControlName="exeGrpName" class="form-control" placeholder="Enter Executive Group name">
      <small *ngIf="executiveGrpForm.controls['exeGrpName'].hasError('required') && isSubmitted" class="form-text text-muted errorCode">The name of the group Cannot be blank.</small>
    </div>
  </div>
  <div class="col-12 col-md-3">
    <button type="button" class="btn btn-secondary btnnew" (click)="submitValue()">Submit</button>
  </div>

  <div class="col-12">
    <div class="search">
      <mat-form-field>
        <mat-label>Search</mat-label>
        <input matInput (keyup)="searchFilter($event)" placeholder="Ex. ium" #input>
      </mat-form-field>
    </div>
    <div class="tablecontainer" [style.height.px]="getHeight()">
      <table mat-table [dataSource]="executiveGroupTable" class="mat-elevation-z8">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
      </table>
    </div>


  </div>
</div>
