.tablecontainer {
  overflow: auto;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  background: white;
}

table {
  width: 100%;
}

.end{
  text-align: end;
}

.btnnew{
  margin: 25px 0px 25px;
}

.marbot{
  margin-bottom: 6px;
}

.errorCode{
  color: #de4343 !important;
}

.fon17{
  font-size: 17px;
}

.mar0{
  margin: auto 0;
}

::ng-deep{
  .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: #f5f5f500;
  }
}
