<div class="row">
  <div class="col-12 col-md-4">
    <div class="form-group" [formGroup]="executiveGrpForm">
      <label for="exampleExgp" class="marbot fon17">{{editData.name === '' ? 'New':'Edit'}} Executive Group</label>
      <input type="text" formControlName="exeGrpName" class="form-control" placeholder="Enter Executive Group name">
      <span *ngIf="executiveGrpForm.controls['exeGrpName'].hasError('required') && isSubmitted" class="form-text text-muted errorCode">The name of the group cannot be blank.</span>
      <span *ngIf="executiveGrpForm.controls['exeGrpName'].hasError('maxlength')" class="form-text text-muted errorCode">Name should not be more than 50 characters.</span>
    </div>
  </div>
  <div class="col-12 col-md-3">
    <button type="button" class="btn btn-secondary btnnew" (click)="submitValue()">
      {{editData.name === '' ? 'Submit':'Update'}}
    </button>
  </div>
  <div class="col-12 col-md-7 mar0">
    <h1 for="exampleExgp">Executive Groups - {{executiveGroupTable?.data.length}}</h1>
  </div>
  <div class="col-12 col-md-5 end">
    <mat-form-field>
      <mat-label>Search</mat-label>
      <input matInput (keyup)="searchFilter($event)" placeholder="ID or Name" #input>
    </mat-form-field>
  </div>


  <div class="col-12">
    <!-- <div class="search">

    </div> -->
    <div class="tablecontainer" [style.height.px]="getHeight()">
      <table mat-table [dataSource]="executiveGroupTable" class="mat-elevation-z8">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
        <ng-container matColumnDef="Actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let element">
              <button mat-raised-button (click)="patchValue(element)" type="button" matTooltip="View Form" class="btn btn-primary btn-link btn-sm btn-just-icon">
                <i class="fas fa-edit"></i>
              </button>
          </td>
      </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
      </table>
    </div>


  </div>
</div>
